{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

  <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">

  <title>{% block title %} Inicio | Google IO Extended 2017 {% endblock %}</title>
  <meta name="description" content="Porque sabemos que te encanta compartir tu pasión por el código con gente como tú, ya viene el Google IO Extended 2017 ¡El evento más importante de tecnología de Google en La Paz!
">

  <!-- Bootstrap -->
  <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
  <link href='{% static "css/bootstrap-theme.css" %}' rel="stylesheet"> 
  <!-- Font Awesome  -->
  <link href='{% static "css/font-awesome.min.css" %}' rel="stylesheet"> 
  <!-- Countdown -->
  <link href='{% static "css/jquery.countdown.css" %}' rel="stylesheet"> 

  <!-- Owl Carousel css -->
  <link href='{% static "css/owl.carousel.css" %}' rel="stylesheet" type="text/css" media="screen"> 
  <!-- Flexslider  -->
  <link href='{% static "vendors/flexslider/flexslider.css" %}' rel="stylesheet">
  <link href='{% static "css/main.css" %}' rel="stylesheet">
  <link href='{% static "css/mainextended.css" %}' rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- Metas facebook -->
  <meta property="og:url" content="/" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Inicio" />
  <meta property="og:description" content="Porque sabemos que te encanta compartir tu pasión por el código con gente como tú, ya viene el Google IO Extended 2017 ¡El evento más importante de tecnología de Google en La Paz!
"
  />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="google io" />
  <!-- Metas twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@gdglapaz" />
  <meta name="twitter:title" content="Inicio" />
  <meta name="twitter:description" content="Porque sabemos que te encanta compartir tu pasión por el código con gente como tú, ya viene el Google IO Extended 2017 ¡El evento más importante de tecnología de Google en La Paz!
"/>
  <meta name="twitter:image" content="" />
  <!--[if lt IE 9]>
      <script src='/js/html5shiv.min.js'></script>G3n3r41_76234234_
      <script src='/js/respond.min.js'></script>
    <![endif]-->
  {% block loadfiles %}
  {% endblock %}
<header class="row main_page">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default menu_part">
        <!-- mobile menu -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/">
            <div class="navbar-brand" >
              <img src="{% static "images/header/final2.gif" %}">
            </div>
          </a>
        </div>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li 
            {% if request.path == "/" %}
              class="active"
            {% endif %}
            >
              <a href="/">Inicio</a>
            </li>
            <li 
              {% if request.path == "/about/" %}
                class="active"
              {% endif %}
            >
              <a href="/about">¿Qué es?</a>
            </li>
            <li 
              {% if request.path == "/comollegar/" %}
              class="active"
              {% endif %}
            >
              <a href="/comollegar">Cómo llegar</a>
            </li>

            <!-- <li >
                  <a href="/agenda/">Agenda</a>
            </li>

            <li >
                  <a href="/speakers/">Speakers</a>
            </li> -->
        </ul>
    </div><!-- /.navbar-collapse -->
    </nav>
  {% block encabezado %}
    
  {% endblock %}
    </div>
  </div>
</header>
  {% block contenido %}

  {% endblock %}

<footer>
  <div class="container">
    <div class="row footer_top">
      <img src="{% static "images/header/final2.gif" %}" alt="#">
    </div>
    <div class="row footer_bottom">
      <div class="left">
        Copyright &copy; 2016 <span>GDG La Paz</span> | Base created by GDG Bogota 
      </div>
      <!-- Menu -->
      <div class="footer_menu">
        <ul class="nav navbar-nav navbar-right">
          <li 
            {% if request.path == "/" %}
              class="active"
            {% endif %}
          >
            <a href="/">Inicio</a></li>
          <li 
            {% if request.path == "/about/" %}
              class="active"
            {% endif %}
          >
            <a href="/about">¿Qué es?</a></li>
          <li 
            {% if request.path == "/comollegar/" %}
            class="active"
            {% endif %}
          >
            <a href="/comollegar">Cómo llegar</a></li>

          <!-- <li >
                <a href="/agenda/">Agenda</a>
          </li>

          <li >
                <a href="/speakers/">Speakers</a>
          </li> -->
            
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- 
  <script>
  'use strict';

  if('serviceWorker' in navigator) {
    navigator.serviceWorker.register('sw.js', {scope: './website/static'}).then(registration => {
      registration.onupdatefound = _ => {
        const installingWorker = registration.installing;
        installingWorker.onstatechange = _ => {
          if(installingWorker.state === 'installed') {
            if (!navigator.serviceWorker.controller) {
              //tostada.mostrar('Sitio \'cacheado\' ¡Visitas offline activadas!');
              console.log('sitio cacheado');
            }
          }
        };
      };
    }).catch(error => {
      console.log(error);
    });
  }
    </script> -->
    <script src='{% static "js/jquery-2.2.0.min.js" %}'></script>
    <script src='{% static "vendors/flexslider/jquery.flexslider-min.js" %}'></script>
    <script src='{% static "js/jquery.countdown.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/owl.carousel.min.js" %}'></script> 
    <!-- LightBox -->
    <script src='{% static "vendors/Lightbox/lightbox.min.js" %}'></script> 
    <!-- Mixitup JS -->
    <script src='{% static "vendors/mixitup/jquery.mixitup.min.js" %}'></script>
    <!-- Map JS -->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBlTcVLWe3sBKX0do_rKX1wzEUEESNfsSE  "></script>
    <script src='{% static "vendors/map/gmaps.min.js" %}'></script>
    <script src='{% static "vendors/map/map.js" %}'></script>
    <script src='{% static "js/custome.js" %}'></script>

    {% block loadfilesbelow %}
      
    {% endblock %}
  </body>

<!-- Mirrored from devfest.co/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 May 2017 05:30:30 GMT -->
</html>