{% extends 'base.html' %}

{% load static from staticfiles %}


{% block title %} Cómo llegar | Google IO Extended 2017 {% endblock %}

{% block loadfiles %}
{% endblock %}
{% load bootstrap %}

{% block encabezado %}
<div class="page_title">
              <h2>Registro</h2>
              <h4></h4>
          </div>
{% endblock %}
{% block contenido %}
<div class="row" style="padding: 30px;">
    {% if info_enviado %}
    <div class="col-md-7" style="padding: 20px;">
        <div class="jumbotron" style="padding: 30px;margin: auto;">
            <p class="jumbo-p">Estimado <b>{{nombre}} {{apellido}}</b> :</p>
            <p class="jumbo-p">Su registro se realizo de manera correcta.
            </p>
            <p class="jumbo-p">El registro sera oficializado con el pago de la entrada al evento. Este mensaje también sera enviado a su correo {{correo}}, este atento a su bandeja de entrada</p>
            <p align="right" style="margin-top: 20px;"><a class="button-blue"  role="button" href="/" >Inicio</a>
            </p>
        </div>
    </div>
    <!-- /.col-lg-12 -->
    {% else%}
    <!-- /.col-lg-6 -3-->
    <div class="col-md-7" style="padding: 20px;">
        <div class="panel panel-primary" >
            <div class="panel-body">
                <div class="row" style="padding: 20px;">
                    <form role="form" method="post" action="." enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                        {{form | bootstrap }}
                        <!-- Change this to a button or input when using this as a form -->
                        <input type="submit" class=" btn-block button-blue" value="Enviar"/> 
                        <input type="hidden" name="next" value="{{ next }}"/>
                        </fieldset>
                    </form>        
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->            
      </div>
    {% endif %}
    <div class="col-lg-5" style="padding: 20px; ">
        <div class="jumbotron" style="padding: 10px 20px 20px 20px;">
            <h3><b>Acerca del Registro</b></h3>
            <!-- <p><img src="{% static "image/banner.jpg"%}" style="border: 2px solid #606060; border-radius: 10px;" class="img-responsive"/></p> -->
            <p class="jumbo-p">

            El presente formulario es un pre registro. Su registro en el evento sera oficializado al momento de cancelar su ticket. Los precios son los siguientes: <br></p>
            <p class="jumbo-p">
            <i class="fa fa-check"></i> 25 Bs. para estudiantes<br>
            <i class="fa fa-check"></i> 35 Bs. para profesionales<br>
            </p>
            <p class="jumbo-p">
            Para completar el registro, puede realizar un deposito a las siguientes cuentas: </p>
            <p class="jumbo-p">
            <i class="fa fa-check"></i> Banco Union, Nro. de cuenta: 10000016227155, a nombre de Juan Victor Aguilar Cusicanqui<br>
            <i class="fa fa-check"></i> Banco Nacional de Bolivia, Nro. de cuenta: 1502107115, a nombre de Juan Victor Aguilar Cusicanqui
            </p>
            <p class="jumbo-p">
            Para cualquier consulta, envie un correo a <a href="mailto:events@gdglapaz.com?subject=Consulta Google IO Extended">events@gdglapaz.com</a>  y nos comunicaremos con usted lo mas pronto posible.
            </p>
            <!--<p align="right"><a class="btn btn-success btn-lg" href="/login"><i class="fa fa-check"></i> Ingresar</a></p>-->
        </div>
    </div>
</div>
{% endblock %}

{% block loadfilesbelow %}
      
{% endblock %}
